* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bookDisplay {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display:flex;
    flex-direction: column;

    border: 1px solid blue;
    div{
        padding:1rem;
        border: 1px solid red;
        
    }
}

#form-wrapper {
    
    border: 1px solid violet;
    display: none;
}